

<ion-content >
    <video *ngIf="showVideo && !menu" autoplay loop [muted]="true"  [src]="urlVideo"></video>
  <ion-grid>
    <ion-row>
      <ion-col text-left>
          <img src="assets/netflix-icon.png" alt="" width="100px">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center >
        <h1 style="color:white;font-size: 30px">¿Qué quieres ver hoy?</h1>
       
      </ion-col>
    </ion-row>
    <ion-row style="padding:0 10%;">
      <ion-col col-6 col-md-2 *ngFor="let channel of channels">
          <ion-card   (click)="goToChannel(channel)" (mouseover)="playVideo(channel)" (mouseout)="showVideo=false">
              <img  [src]="channel.img"/>            
            </ion-card>
            <!-- <div class="card-title" >{{channel.name}}</div> -->
            <!-- <div class="card-subtitle">{{channel.description}}</div> -->
      </ion-col>   
    </ion-row>

  </ion-grid>
 
        
</ion-content>
