page-forgot-password {
    .back-button {
        color: map_get($colors, netflixWhite);
      }

      ion-title {
        img {
          max-height: 56px;
          text-align: center;
          margin-right: 16px;
        }
      }
      .no-scroll .scroll-content {
        overflow: hidden;
      }
      .content {

        background-color: map_get($colors, netflixDarkGrey);

      
        ion-item {
            background-color: color($colors, netflixDarkGrey);
      
            ion-label {
              color: map_get($colors, netflixWhite);
            }
      
            ion-input {
              color: color($colors, netflixWhite);
            }
          }

          p {
            color: map_get($colors, netflixWhite);
          }
    
          .forgot-pass-title {
            font-weight: bold;
            font-size: 20px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
          }
    
          button {
            margin-top: 40px;
          }
      }
      
      @media only screen  and (min-width : 993px) and (max-width : 1800px) {
        .content button {
            margin: 40px auto 50px auto;
            width: 30%;
        }
        .inputLg {
          margin: auto;
          width: 50%;
        }
      } 
      
}
