page-home {

    ion-badge{
        position: relative;
        left: 29px;
        top: 12px;
        z-index: 99;
    }    
    ion-title {
        img {
            max-height: 56px;
            text-align: center;
        }
    }

    ion-content.content-md[padding] .scroll-content, ion-content.content-ios[padding] .scroll-content {
        padding: 0px !important;
        height:90%;
    }
    .toolbar-title {
        text-align: center;
    }
    .content {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
 
        background-color: map_get($colors, netflixDarkGrey);

        .scrollY{
            height: 700px;
        }
        .imgCara{
             overflow-y: hidden;
                      
        }
        .scroll-container {
            padding: 0px 16px;
            margin-top: 10px;

            ion-row {
                p {
                    margin: 0px;
                    font-size: 16px;
                    font-weight: bold;
                    color: map_get($colors, netflixWhite);
                }

                .series-button {
                    margin-bottom: 40px;
    
                    ion-icon {
                        font-size: 25px;
                    }
                }
            }            
        }

        .item-title {
            color: map_get($colors, netflixWhite);
            font-size: 14px;
            margin-bottom: 5px;
            margin-left: 5px;
            font-weight: bold;
        }
        
        ion-scroll[scrollX] {
            white-space: nowrap;
            height: 195px;
            overflow: auto;
            overflow-y: hidden;
        
            .scroll-item {
              display: inline-block;
              max-width: 105px;
            }

            ion-col {
                height: 100%;
               
                img {
                    height:auto ;
                    width: 100%;                    
                    overflow-y: hidden!important;
                }
            }
        }
      /* Hide ion-content scrollbar */
        ::-webkit-scrollbar{
            display:none;
        }          
    }
    .user_name {
        color: #afafaf;
    }
    .message {
        padding: 10px !important;
        transition: all 250ms ease-in-out !important;
        border-radius: 10px !important;
        margin-bottom: 4px !important;
    }
    .my_message {
        background: color($colors, primary) !important;
        color: #000 !important;
    }
    .other_message {
        background: #dcdcdc !important;
        color: #000 !important;
    }
    .time {
        color: #afafaf;
        float: right;
        font-size: small;
    }        
    .no-scroll .scroll-content {
        overflow:auto;
        overflow-y: hidden;
    }

  

    [col-lg-6] {
        padding: 0px !important;
    }
    hr {
        background-color: RGBA(202,95,69,0.8)!important;
        width: 100%;
        height: 5px;
    }
    .list-avatar-page {
        overflow-y: hidden;
        h3 {
            color: white;
        }
        ion-note {
            font-size: 12px;
            align-self: flex-start;
            margin-top: 14px;
        }
    }
    .segmenthead {
        color: white !important;
    }
    .iconhead {
        font-size:  1.9rem !important;
        color: color($colors, netflixRed) !important;       
    }

    .buttonSlide {
        
        background-color: #ca5f459c !important;
        z-index: 999;
        margin: -255px 0px 2px 0px;
        height: 78px;
    }
    .swiper-wrapper {
        z-index: 0 !important;
    }  
    
    .swiper-slide {
        transition: transform 1s, filter 2s ease-in-out;
        filter: opacity(.6);
        transform: scale(0.9);
    }

    .swiper-slide:hover {
        filter: blur(0);
        transform: scale(1);
        box-shadow: 7px -4px 5px -5px rgba(0,0,0,0.53); 
    }
  
    
/*******************************************************************************************************************************************************************
*                        --------------------------------------------- Responsive page -----------------------------------------------------                       *
********************************************************************************************************************************************************************/

    /* ------------- Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

    }
        
    /* -------------- Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    
    }

    /* --------------- Samsung Galaxy S5 landscape ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
        
    }
    /* --------------- Samsung Galaxy S5 portrait ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){    
        .test {
            height: 160px !important;
            scroll-snap-points-y: 100%;

            ion-list,ion-item {
                padding: 0;margin: 0;
            }       
        }
        ion-content.content-md[padding] .scroll-content, ion-content.content-ios[padding] .scroll-content {
            height: 90% !important;
        }
    }

    /* --------------- Pixel 2 portrait ----------- */
    @media only screen and (min-device-width : 411px) and (max-device-height : 731px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {        
        .test {
            height: 298px !important; 
            ion-list,ion-item {
                padding: 0;margin: 0;
            }        
        }    
        ion-content.content-md[padding] .scroll-content, ion-content.content-ios[padding] .scroll-content {
            padding: 0px !important;
            height: 90%;
        }
    }

    /* --------------- Pixel 2XL portrait ----------- */
    @media only screen and (min-device-width : 411px) and (max-device-height : 823px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {        
        .test {
            height: 100px;
            
            ion-list,ion-item {
            padding: 0;margin: 0;
            }        
        }          
    }   
    @media only screen and (min-device-width : 411px) and (max-device-height : 823px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {    
        .test {
            height: 298px !important; 
            ion-list,ion-item {
            padding: 0;margin: 0;
            }        
        }
        
    }

    /* ----------------- iphone5/se -------------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){    
        .test {
            height: 140px; 
            ion-list,ion-item {
                padding: 0;margin: 0;
            }       
        }  
    }
        
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){    
        .test {
            height: 140px; 
            ion-list,ion-item {
                padding: 0;margin: 0;
            }        
        }
        ion-scroll[scrollX] {
            height: 205px !important;
        }
    }

     /* ------------------ iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){    
        .test {
            height: 90px;
            ion-list,ion-item {
                padding: 0;margin: 0;
            }        
        }
    }
        
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){    
        .test {
            height: 230px;
            
            ion-list,ion-item {
                padding: 0;margin: 0;
            }        
        }
    }
        
    /* ----------------- iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){    
        .test {
            height: 90px;
        
            ion-list,ion-item {
                padding: 0;margin: 0;
            }        
        }
        ion-content.content-md[padding] .scroll-content, ion-content.content-ios[padding] .scroll-content {
            padding: 0px !important;
            height: 95%;
        }
    }
        
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){    
        .test {
            height: 90px;
            
            ion-list,ion-item {
            padding: 0;margin: 0;
            }        
        }
    }
        
    /* ---------------------- iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){    
        .test {
            height: 90px;
        
            ion-list,ion-item{
                padding: 0;margin: 0;
            }        
        }
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){    
        .test {
            height: 380px;
        
            ion-list,ion-item {
                padding: 0;margin: 0;
            }
        
        }
    }

    /* ---------------- iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-height: 1024px) and (orientation : landscape) {
        .test {
            height: 560px;
            
            ion-list,ion-item {
                padding: 0;margin: 0;
            }        
        }
    }              
    /* --------------------- iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-height: 1024px) and (min-device-height: 1365) and (orientation : portrait) {
        .test {
            height: 922px !important;
            
            ion-list,ion-item {
                padding: 0;margin: 0;
            }
        }
    }

    /* ---------------------- ipad-pro -------------- */
    @media only screen and (min-device-width : 1024px) and (max-device-height:1366px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

    }  

    @media only screen and (min-device-width : 1024px) and (max-device-height:1366px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
        .test {
            height: 1180px !important;
            
            ion-list,ion-item {
            padding: 0;margin: 0;
            }        
        }

        ion-content.content-md[padding] .scroll-content, ion-content.content-ios[padding] .scroll-content {
            padding: 0px !important;
            height:100%;
        }
        .content .scrollY {
            height: 1215px !important;
        }

    }

    /* ---------------------- ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
        .test {
            height: 100px;
            
            ion-list,ion-item {
            padding: 0;margin: 0;
            }        
        }  
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {    
        .test {
            height: 298px !important; 
            ion-list,ion-item {
                padding: 0;margin: 0;
            }        
        }            
    }

    /*******************************************************         desktop  responsive        ************************************************************ */

    /* ---------------------- 1224px -------------- */    
    @media only screen  and (min-width : 1224px) {
        .test {
            height: 570px;
            
            ion-list,ion-item {
                padding: 0;margin: 0;
            }
        }  
    }
    /* ---------------------- 1500px -------------- */   
    @media only screen  and (min-width : 1500px) {
        .test {
            height: 605px;
            
            ion-list,ion-item {
                padding: 0;margin: 0;
            }        
        } 
    }
    /* ---------------------- 1824px -------------- */
    @media only screen  and (min-width : 1824px) {
        .test {
            height: 584px;
            
            ion-list,ion-item {
                padding: 0;margin: 0;
            }        
        }  
        ion-content.content-md[padding] .scroll-content, ion-content.content-ios[padding] .scroll-content {
            height: 95% !important;
        }    
    }

    /* ---------------------- 2024px -------------- */
    @media only screen   and (min-width : 1825px) and (max-width :2024px) {
        .test {
            height: 800px;
            
            ion-list,ion-item {
                padding: 0;margin: 0;
            }        
        }  
        ion-content.content-md[padding] .scroll-content, ion-content.content-ios[padding] .scroll-content {
            height: 95% !important;
        }
        scroll-content{
            margin-top: 88px;
            height: 100%;
        }
    }
    /* ---------------------- 4096px -------------- */
    @media only screen   and (min-width : 2025px) and (max-width :4096px) {
        .test {
            height: 100px;
            
            ion-list,ion-item {
                padding: 0;margin: 0;
            }        
        }  
        ion-content.content-md[padding] .scroll-content, ion-content.content-ios[padding] .scroll-content {
            height: 95% !important;
        }
        scroll-content{
            margin-top: 88px;
            height: 105%;
        }
    }
}

    /* Smartphones (portrait and landscape) ----------- */
    // @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    // /* Styles */
    //     .test {
    //         height: 100px;

    //         ion-list,ion-item {
    //             padding: 0;margin: 0;
    //         }        
    //     }  
    // }
    
    // /* Smartphones (landscape) ----------- */
    // // @media only screen and (min-width : 321px) {
    // // /* Styles */
    // //     .test {
    // //         height: 250px;
        
    // //         ion-list,ion-item {
    // //             padding: 0;margin: 0;
    // //         }        
    // //     }  
    // // }
    
    // /* Smartphones (portrait) ----------- */
    // @media only screen and (max-width : 320px) {
    // /* Styles */
    //     .test {
    //         height: 100px;            
    //         ion-list,ion-item {
    //          padding: 0;margin: 0;
    //         }       
    //     }  
    // }  

    

 
    // /* Desktops and laptops ----------- */
    // @media only screen  and (min-width : 1224px) {
    // /* Styles */
    //     .test {
    //         height: 570px;
            
    //         ion-list,ion-item {
    //             padding: 0;margin: 0;
    //         }
    //     }  
    // }
    
    // /* Large screens ----------- */
    
    // @media only screen  and (min-width : 1500px) {
    //     /* Styles */
    //     .test {
    //         height: 450px;
            
    //         ion-list,ion-item {
    //         padding: 0;margin: 0;
    //         }        
    //     } 
    //     .scrollY {
    //         height: 500px !important;
    //     } 

    //     ion-scroll[scrollX] {
    //         white-space: nowrap;
    //         height:205px;
    //         overflow: auto;
        
    //         .scroll-item {
    //             display: inline-block;
    //             max-width: 105px;
    //         }

    //         ion-col {
    //             height: 100%;
    //             img {
    //                 height:auto ;
    //                 width: 60% !important;
    //             }
    //         }
    //     }                
    // }
    // @media only screen  and (min-width : 1824px) {
    // /* Styles */
    // .test {
    //     height: 584px;
        
    //     ion-list,ion-item {
    //     padding: 0;margin: 0;
    //     }        
    // }  
    // ion-content.content-md[padding] .scroll-content, ion-content.content-ios[padding] .scroll-content {
    //     height: 95% !important;
    // }
    // scroll-content{
    //     margin-top: 88px;
    //     height: 105%;
    // }
    //     ion-scroll[scrollX] {
    //         white-space: nowrap;
    //         height: 225px;
    //         overflow: auto;
    //         overflow-y: hidden !important;
        
    //         .scroll-item {
    //             display: inline-block;
    //             max-width: 105px;
    //         }

    //         ion-col {
    //             height: 100%;
    //             img {
    //                 height:auto ;
    //                 width: 60% !important;
    //             }
    //         }
    //     } 
    // }

    // @media only screen   and (min-width : 1825px) and (max-width :2024px) {
    //     /* Styles */
    //     .test {
    //         height: 800px;
            
    //         ion-list,ion-item {
    //         padding: 0;margin: 0;
    //         }        
    //     }  
    //     ion-content.content-md[padding] .scroll-content, ion-content.content-ios[padding] .scroll-content {
    //         height: 95% !important;
    //     }
    //     scroll-content{
    //         margin-top: 88px;
    //         height: 105%;
    //     }
    //         ion-scroll[scrollX] {
    //             white-space: nowrap;
    //             height: 285px  !important;
    //             overflow: auto;
    //             overflow-y: hidden !important;
            
    //             .scroll-item {
    //                 display: inline-block;
    //                 max-width: 105px;
    //             }
    
    //             ion-col {
    //                 height: 100%;
    //                 img {
    //                     height:auto ;
    //                     width: 60% !important;
    //                 }
    //             }
    //         } 
    //     }

    //     @media only screen   and (min-width : 2025px) and (max-width :4096px) {
    //         /* Styles */
    //         .test {
    //             height: 900px;
                
    //             ion-list,ion-item {
    //             padding: 0;margin: 0;
    //             }        
    //         }  
    //         ion-content.content-md[padding] .scroll-content, ion-content.content-ios[padding] .scroll-content {
    //             height: 170% !important;
    //         }
    //         scroll-content{
    //             margin-top: 88px;
    //             height: 105%;
    //         }
    //             ion-scroll[scrollX] {
    //                 white-space: nowrap;
    //                 height: 285px  !important;
    //                 overflow: auto;
    //                 overflow-y: hidden !important;
                
    //                 .scroll-item {
    //                     display: inline-block;
    //                     max-width: 105px;
    //                 }
        
    //                 ion-col {
    //                     height: 100%;
    //                     img {
    //                         height:auto ;
    //                         width: 60% !important;
    //                     }
    //                 }
    //             } 
    //         }

    
   
    
   
    
   
    
      
    
    // @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    // /* Styles */
    //     .test {
    //         height: 275px; //iphone plus
            
    //         ion-list,ion-item {
    //             padding: 0;margin: 0;
    //         }        
    //     }
    // }
    

    
    // @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    // /* Styles */
    //     .test {
    //         height: 135px //ihpne5/se;
        
    //         ion-list,ion-item{
    //         padding: 0;margin: 0;
    //         }        
    //     }

    //     // ion-scroll[scrollX] {
    //     //     height: 140px !important;
    //     // }
    // }

    
    // @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    // /* Styles */
    //     .test {
    //         height: 160px;
        
    //         ion-list,ion-item {
    //         padding: 0;margin: 0;
    //         }        
    //     }
    // }
    
    

    /* desktop  responsive */

    