// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background {
  background-color: map_get($colors, netflixBlack);
}

.content {
  background-color: map_get($colors, netflixBlack);
}

.line-break {
  overflow: inherit;
  text-overflow: inherit;
  white-space: normal;
}

.demo-image {
  width: 100px;
  height: 100px;
}

.demo-message {
  font-size: 25px;
  color: white;
}

.demo-sub-message {
  color: map_get($colors, netflixRed);
  font-size: 20px;
  font-weight: bold;
  margin: 40px 20px;
}

ion-spinner {
  width: 50px;
  height: 50px;
}

.tabs-md-netflixBlack .tab-button:hover:not(.disable-hover),
.tabs-md-netflixBlack .tab-button[aria-selected="true"],
.tabs-md-netflixBlack .tab-button[aria-selected="true"] .tab-button-icon {
  color: map_get($colors, netflixRed);
}

.tabs-ios-netflixBlack .tab-button:hover:not(.disable-hover),
.tabs-ios-netflixBlack .tab-button[aria-selected="true"],
.tabs-ios-netflixBlack .tab-button[aria-selected="true"] .tab-button-icon {
  color: map_get($colors, netflixRed);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.alert-md [aria-checked="true"] .alert-radio-icon,
.alert-ios [aria-checked="true"] .alert-radio-icon {
  border-color: map_get($colors, netflixRed);
}

.alert-md .alert-radio-inner,
.alert-ios .alert-radio-inner {
  background-color: map_get($colors, netflixRed);
}

.alert-ios [aria-checked=true] .alert-radio-inner {
  border-color: map_get($colors, netflixRed);
}

.alert-md [aria-checked="true"] .alert-radio-label,
.alert-ios [aria-checked="true"] .alert-radio-label {
  color: map_get($colors, netflixRed);
}

.alert-md .alert-button,
.alert-ios .alert-button {
  color: map_get($colors, netflixRed);
}

//CLASES PARA MODIFICAR ALERTA
.btnalert-ok{
  color:white !important;
  width: 50%;
  margin-left: 5px;
  background-color:color($colors, netflixRed)!important;

}
.alert-md .alert-button .button-inner{
  justify-content: center;
}
.btnalert-cancel{
  color: color($colors,netflixRed) !important;
  width: 50%;
  background-color:transparent;
  border: 2px #e2e2e2 solid;
}
.alertclass{  
  padding: 0;
  margin: 0;
}
.alert-md .alert-button-group{
  padding: 0;
}
.alert-md .alert-button{
 margin: 0;
}

.custom-modal {
  position: fixed !important;
  bottom: 0% !important;
  left:20% !important;
  width: 100% !important;
  padding: 20% 10%  !important;
  box-shadow: 0 5px 15px rgba(199, 16, 16, 0) !important;
}

ion-backdrop{
  background-color:transparent !important;
}

ion-modal {
  .modal-wrapper {
    
      // height: 80%;
      // width: 45%;
  }
}
.segment-ios .segment-button.segment-activated{
  background-color: transparent !important;
}


