<!-- <ion-header no-border>
  <ion-navbar>
    <ion-row>
      <ion-col col-10>
        <ion-searchbar id="searchInput"  #searchbar [(ngModel)]="searchValue" placeholder="Buscar" (ngModelChange)="onChangeModel($event)" 
                      (ionClear)="onClear($event)" (ionInput)="onInput($event)"  animated=true></ion-searchbar>
      </ion-col>

      <ion-col col-2 text-center>
        <button ion-button clear item-end (click)="startListening()">
          <ion-icon name={{icon}}></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header> -->
<ion-header no-border>
  <ion-grid>
      <ion-row>
        <ion-col col-12 col-lg-2 >
          <ion-navbar align-title="center" transparent >
            <ion-title>
              <img src="assets/imgs/netflix-logo.png">
            </ion-title>   
          </ion-navbar>
        </ion-col>
        <ion-col col-lg-10 [hidden]="menu">
          <div>
            <ion-segment [(ngModel)]="menuhead">
              <ion-segment-button value="home"     class="segmenthead" (click)="home()"><ion-icon class="iconhead" name="home"></ion-icon>   Inicio</ion-segment-button>
              <ion-segment-button value="buscar"   class="segmenthead"> <ion-icon class="iconhead" name="search" ></ion-icon>   Buscar  </ion-segment-button>
              <ion-segment-button value="parrilla" class="segmenthead" (click)="parrilla()"> <ion-icon class="iconhead" name="md-laptop"></ion-icon>   Parrilla  </ion-segment-button>
              <ion-segment-button value="perfil"   class="segmenthead" (click)="perfil()"> <ion-icon class="iconhead" name="md-person"></ion-icon>   Perfil  </ion-segment-button>
              <ion-segment-button value="salir"    class="segmenthead" (click)="signOut()"> <ion-icon class="iconhead" name="log-out"></ion-icon>   Salir  </ion-segment-button>
            </ion-segment>
          </div>
        </ion-col>
        <ion-col col-12 col-lg-12>
          <ion-navbar>
              <ion-row>
                <ion-col col-10>
                  <ion-searchbar id="searchInput"  #searchbar [(ngModel)]="searchValue" placeholder="Buscar" (ngModelChange)="onChangeModel($event)" 
                                (ionClear)="onClear($event)" (ionInput)="onInput($event)"  animated=true></ion-searchbar>
                </ion-col>          
                <ion-col col-2 text-center>
                  <button ion-button clear item-end (click)="startListening()">
                    <ion-icon name={{icon}}></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-navbar>
        </ion-col>
      </ion-row>
    </ion-grid>    
  </ion-header>

<ion-content padding>

  
  <ion-row *ngIf="!loaded || (isSearching && !searchDone)">
    <ion-col text-center>
      <br>
      <ion-spinner color="netflixRed"></ion-spinner>
    </ion-col>
  </ion-row>

  <ion-list *ngIf="loaded && !isSearching" no-lines>
    <ion-item ion-item *ngFor="let category of categories" (click)="openCategory(category)" clear text-center>
      {{category.name}}
    </ion-item>
  </ion-list>

  <ion-row *ngIf="isSearching && searchItems.length > 0" style="padding-left: 0px;">
    <ion-col col-4 col-lg-1 *ngFor="let searchItem of searchItems">
      <img src="{{searchItem.detailsPicture}}" (click)="goToSearchItem(searchItem)" style="width:100%">
    </ion-col>
  </ion-row>

  <ion-row *ngIf="isSearching && searchDone && searchItems.length <= 0">
    <ion-col text-center>
      <img class="demo-image" src="assets/netflix-icon.png">
      <p class="demo-message">No results.</p>
    </ion-col>
  </ion-row>
</ion-content>