page-search {
  ion-navbar {
    ion-icon {
      color: map_get($colors, netflixRed);
      font-size: 30px;
    }
    
  }
  ion-title {
    img {
        max-height: 56px;
        text-align: center;
    }
  }
  .toolbar-title {
    text-align: center;
  }
  .content {
    ion-list {
      ion-item {
        color: map_get($colors, netflixWhite);
        background: map_get($colors, netflixBlack);
      }
    }
  }
  .segmenthead{
    color: white !important;
  }
  .iconhead {
    font-size:  1.9rem !important;
    color: color($colors, netflixRed) !important;       
  }

  .imgs{
    border-radius: 10px;
    box-shadow: 3px 11px 9px -2px rgba(0,0,0,0.75);
  }
}
