<ion-header>
  <ion-navbar>
    <ion-title>Mi lista</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-content padding>
    <ion-row *ngIf="loaded && myListItems.length <= 0" class="movies-shows-row">
      <ion-col text-center>
        <button ion-button clear color="netflixWhite">
          <ion-icon name='ios-checkmark-circle'></ion-icon>
        </button>

        <p>Videos que agruegues a tu lista aparecerán aquí.</p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="loaded && myListItems.length <= 0" class="find-downloads-row">
      <ion-col text-center>
        <button ion-button icon-start color="netflixWhite" (click)=goHome()>
          ENCUENTRA ALGO QUE VER
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!loaded">
      <ion-col text-center>
        <br>
        <ion-spinner color="netflixRed"></ion-spinner>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="loaded && myListItems.length > 0" style="padding-left: 0px;">
      <ion-col col-4 col-lg-1 *ngFor="let myListItem of myListItems">
        <img class="imgCara" src="{{myListItem.detailsPicture}}" (click)="goToMyListItem(myListItem)" style="width:100%">
        <p text-wrap style="color:#f5f5f1">{{myListItem.name}}</p>  
      </ion-col>
    </ion-row>
  </ion-content>
</ion-content>

  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="loaded && myListItems.length <= 0" class="movies-shows-row">
          <button ion-button clear color="netflixWhite">
            <ion-icon name='ios-checkmark-circle'></ion-icon>
          </button>
          <p>Videos que agruegues a tu lista aparecerán aquí.</p>
        </div>

        <div *ngIf="loaded && myListItems.length <= 0" class="find-downloads-row">      
          <button ion-button icon-start color="netflixWhite" (click)=goHome()>
            ENCUENTRA ALGO QUE VER
          </button>      
        </div>
    
        <div *ngIf="!loaded">      
            <br>
            <ion-spinner color="netflixRed"></ion-spinner>     
        </div>
    
        <div *ngIf="loaded && myListItems.length > 0" style="padding-left: 0px;">
          <div *ngFor="let myListItem of myListItems">
            <img src="{{myListItem.detailsPicture}}" (click)="goToMyListItem(myListItem)" style="width:100%">
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->